*,
*::before,
*::after {
	margin: 0;
	outline: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	/* default font-settings */
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	/* End font settings */

	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;

	position: relative;
}

.img--1,
.img--2 {
	width: 100%;
	position: absolute;
}

.img--1 {
	z-index: -1;
}

.img--2 {
	z-index: -2;
}

.show-image {
	opacity: 1;
	transition: all 1s ease-in;
}

.hide-image {
	transition: all 1s ease-in;
	opacity: 0;
}

.title-wrapper,
.answers-wrapper,
.app-controls {
	width: 540px;
}

.answers-wrapper {
	box-shadow: 0 0 40px gray;
	border-radius: 0 0 10px 10px;
}

.title {
	margin: 75px 0 35px 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.toggle {
	background-color: transparent;
	cursor: pointer;
	position: relative;
}

.show {
	opacity: 1;
	transition: all 1s ease-in;
}

.hide {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	transition: all 1s ease-in;
}

.title h1 {
	text-transform: uppercase;
	letter-spacing: 12px;
	font-size: 42px;
	color: hsl(0, 0%, 98%);
}

.text-input {
	position: relative;
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.text-input input[type="text"] {
	width: 100%;
	height: 66px;
	padding-left: 30px;
	font-size: 17px;
	font-weight: 400;
	border-radius: 10px;
	transition: all 1s ease-in;
}

.answer-input {
	position: relative;
}

.answer-input input[type="text"] {
	width: 100%;
	height: 60px;
	padding-left: 70px;
	font-size: 17px;
	font-weight: 500;
}

.answer-input input[type="checkbox"] {
	position: absolute;
	top: 50%;
	left: 6%;
	transform: translate(-50%, -50%);

	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid gray;
	cursor: pointer;
	appearance: none;
}

.answer-input input[type="checkbox"]:checked {
	background:
		url(images/icon-check.svg),
		linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
	background-size: 100px cover;
	background-position: center;
	background-repeat: no-repeat;
}

.answer-input input[type="checkbox"]:checked~input[type="text"] {
	text-decoration: line-through;
	font-style: italic;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.2);
}

.answer-input input[type="button"],
.text-input input[type="submit"] {
	position: absolute;
	top: 50%;
	right: -4%;
	transform: translate(-50%, -50%);
	width: 100px;

	cursor: pointer;
	border-radius: 8px;
	padding: 10px;
	color: whitesmoke;
}

.text-input input[type="submit"],
.answer-input input[type="button"] {
	background-color: gray;
}

.text-input input[type="submit"]:hover {
	background-color: green;
}

.answer-input input[type="button"]:hover {
	background-color: red;
}

.text-input input[type="submit"]:active,
.answer-input input[type="button"]:active {
	background-color: gray;
	transform: translate(-50%, -45%);
}

.app-controls {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 24px;
	border-radius: 0 0 10px 10px;
	margin-top: 20px;
}

.app-controls a {
	color: #869af9;
	text-decoration: none;
	font-size: 12px;
}

.app-controls a:hover {
	text-shadow: 1px 0 0 currentcolor;
}

.instructions {
	margin-top: 15px;
	color: #a9a9b4;
}

.draggable {
	cursor: move;
	transition: background-color 1s ease-in, border-bottom 1s ease-in, color 1s ease-in;
}

.dragging {
	opacity: 0.5;
}

/* LIGHT THEME SETTINGS */

.light {
	background-color: #fafafa;
	transition: all 1s ease-in;
}

/* DARK THEME SETTINGS */

.dark {
	background-color: #181824;
	transition: all 1s ease-in;
}